@font-face {
    font-family: dk_drop_dead_gorgeous;
    src: url(fonts/dk_drop_dead_gorgeous.otf);
}
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f7c9bf;
    width:100vw;
    font-family: dk_drop_dead_gorgeous;
    display: flex;
    flex-shrink: 0;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
a{
	text-decoration: none;
	color: #6ac4f3;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
a:hover {
    filter: brightness(0) invert(1);
}
h1{
	color: #6ac4f3;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
nav{
    display: flex;
    flex-shrink: 0;
	line-height: 2em;    
}
footer{
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#box{
	display: flex;
    flex-shrink: 0;
}
article{
	display: flex;
    flex-shrink: 0;
}
.head{
	background-size: 100% 100%;
}
.head:hover, .head:active, #head:focus {
	background-size: 100% 52.7%;
	background-repeat: no-repeat;	
    background-position: center; 
}
#dawn{
	background-image: url("PNGs/cast/HeadShot_Dawn.png");
}
#dawn:hover, #dawn:active, #dawn:focus {
	background-image: url("PNGs/cast/Dawn Still 2.jpg");
}
#eve{
	background-image: url("PNGs/cast/Headshot_eve.png");
}
#eve:hover, #eve:active, #eve:focus {
	background-image: url("PNGs/cast/Eve Still.jpg");
}

#haley{
	background-image: url("PNGs/cast/Headshot_Haily.png");
}
#haley:hover, #haley:active, #haley:focus {
	background-image: url("PNGs/cast/Haley Still.jpg");
}
#leah{
	background-image: url("PNGs/cast/headshot_Leah.png");
}
#leah:hover, #leah:active, #leah:focus {
	background-image: url("PNGs/cast/Leah Still.jpg");
}

#lionel{
	background-image: url("PNGs/cast/Headshot_Lionel.png");
}
#lionel:hover, #lionel:active, #lionel:focus {
	background-image: url("PNGs/cast/Lionel Still.jpg");
}
#zach{
	background-image: url("PNGs/cast/Headshot_Zach.png");
}
#zach:hover, #zach:active, #zach:focus {
	background-image: url("PNGs/cast/Zach Still New.jpg");
}

#benedict{
	background-image: url("PNGs/cast/Headshot_MsB.png");
}
#benedict:hover, #benedict:active, #benedict:focus {
	background-image: url("PNGs/cast/Ms B Still 2.jpg");
}
#tom{
	background-image: url("PNGs/cast/headshot_shafer.png");
}
#tom:hover, #tom:active, #tom:focus {
	background-image: url("PNGs/cast/Shaeffer Still New 2.jpg");
}
.credit{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow: column;
	text-align: center;
}

@media only screen and (orientation: portrait) {
	#title{
		margin: 5vw auto;
		width: 90vw;
		height: 45vw;
	}		
	#box{
		margin: 5vw;
	}
	body {
		font-size: 5vw;
	}
	a{
		font-size: 8vw;
	}
	h1{
		color: #6ac4f3;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
	nav{
	    flex-flow: row wrap;
	    justify-content: space-around;
	    align-content: center;
	    align-items: center;
	    width:100vw;
	    height:20vh;
	}
	#box{
		width: 90vw;
		height:420vw;
	    flex-flow: row wrap;
	    justify-content: flex-start;
	    align-content: center;
	    align-items: center;		
	}
	article{
		margin: 2vw;
		width: 90vw;
		height: 50vw;
		flex-flow: row nowrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
	}
	article img{
		width: 40vw;
		height: 40vw;
	}	
	article div{
		width: 50vw;
		height: 40vw;
	}	
	article p{
		width: 50vw;
		height: 40vw;
	}		
	footer{
	    width:100vw;
	    height:40vh;
	}
	#footer_img{
		width:30vw;
		height:40vw;
	}	
}
@media only screen and (orientation: landscape) {
	#title{
		width: 30vw;
		height: 15vw;
	}	
	body {
		font-size: 1vw;
	}
	a{
		font-size: 2.5vw;
	}
	h1{
		color: #6ac4f3;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
	nav{
	    flex-flow: row nowrap;
	    justify-content: space-around;
	    align-content: center;
	    align-items: center;
	    width:100vw;
	    height:15vh;
	}
	#box{
		width: 70vw;
		height:95vw;
	    flex-flow: row wrap;
	    justify-content: flex-start;
	    align-content: center;
	    align-items: center;		
	}
	article{
		margin: 2vw;
		width: 30vw;
		height:20vw;
		flex-flow: row nowrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
	}
	article img{
		width: 15vw;
		height: 15vw;
	}
	article div{
		width: 35vw;
		height: 15vw;
	}	
	footer{
		margin: 5vw;
	    width:100vw;
	    height:40vh;
	}
	#footer_img{
		width:15vw;
		height:20vw;
	}
}

