body {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #feaca8;
}

.box1{
	position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    z-index: 2
}
.box2{
	position: absolute;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    z-index: 1
}

@media only screen and (orientation: portrait) {
	#text{
		width:55vh; 
		height:44vh;
	}

	#head{
		width:36vh; 
		height:28vh;
	}
	#shadow{
		width:60vh; 
		height:60vh;
	}
}

@media only screen and (orientation: landscape) {
	#text{
		width:40vw; 
		height:33vw;
	}

	#head{
		width:18vw; 
		height:14vw;
	}
	#shadow{
		width:40vw; 
		height:40vw;
	}
}
