
@media only screen and (orientation: portrait) {
	#thumb{
		position: relative;
		z-index: 2;
		width: 30vw;
		height: 30vw;
		top: 8vw;
		left: 23vw;	
	}

}
@media only screen and (orientation: landscape) {
	#thumb{
		position: relative;
		z-index: 2;
		width: 18vw;
		height: 18vw;
		top:6vw;
		left: 23vw;	
	}
}