@font-face {
    font-family: dk_drop_dead_gorgeous;
    src: url(fonts/dk_drop_dead_gorgeous.otf);
}
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f7c9bf;
    width:100vw;
    font-family: dk_drop_dead_gorgeous;
    display: flex;
    flex-shrink: 0;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
a{
	text-decoration: none;
	color: #6ac4f3;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
a:hover {
    filter: brightness(0) invert(1);
}
h1{
	color: #6ac4f3;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
nav{
    display: flex;
    flex-shrink: 0;
	line-height: 2em;    
}
footer{
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#box{
	display: flex;
    flex-shrink: 0;
}

@media only screen and (orientation: portrait) {
	#title{
		margin: 5vw auto;
		width: 90vw;
		height: 45vw;
	}		

	body {
		font-size: 5vw;
	}
	a{
		font-size: 8vw;
	}
	p{
		margin: 1vw;
	}
	h1{
		color: #6ac4f3;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
	nav{
	    flex-flow: row wrap;
	    justify-content: space-around;
	    align-content: center;
	    align-items: center;
	    width:100vw;
	    height:20vh;
	}
	#box{
		width: 100vw;
		height:410vw;
	    flex-flow: column;
	    justify-content:center;
	    align-content: center;
	    align-items: center;		
	}	
	article{
		margin: 4vw;
	}	
	iframe{
		width: 90vw;
		height:53vw;			
	}
	footer{
	    width:100vw;
	    height:40vh;
	}
	#footer_img{
		width:30vw;
		height:40vw;
	}	
}
@media only screen and (orientation: landscape) {
	#title{
		width: 30vw;
		height: 15vw;
	}	
	body {
		font-size: 1vw;
	}
	a{
		font-size: 2.5vw;
	}
	h1{
		color: #6ac4f3;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
	nav{
	    flex-flow: row nowrap;
	    justify-content: space-around;
	    align-content: center;
	    align-items: center;
	    width:100vw;
	    height:15vh;
	}
	#box{
		width: 60vw;
		height: 35vw;
	    flex-flow: row wrap;
	    justify-content: space-around;
	    align-content: center;
	    align-items: center;		
	}
	article{
		margin: 2vw;
		width: 16vw;
		height: 9vw;		
	}
	iframe{
		width: 100%;
		height: 100%;		
	}
	footer{
	    width:100vw;
	    height:40vh;
	}
	#footer_img{
		width:15vw;
		height:20vw;
	}
}

